name: Generate Languages SVG

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Mzinp

          filename: assets/languages.svg

          repositories_affiliations: owner
          repositories_forks: no

          base: ""
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6
          plugin_languages_sections: most-used
          plugin_languages_colors: github

          plugin_languages_recent_categories: yes
          plugin_languages_recent_days: 365
          plugin_languages_recent_load: 300

          config_display: large
          config_padding: 16
          config_animations: yes
