name: Generate Languages SVG

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          
          filename: assets/languages.svg

          
          base: ""
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_indepth: yes
          plugin_languages_ignored: html, css

          
          config_display: large
          config_padding: 16
          config_animations: yes
          
          

